@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Nunito', sans-serif;
}

label {
    cursor: pointer;
}

.links-container > a.active {
    background-color: rgb(240, 240, 240);
}